workflows/main-whatsapp-ai-agent.json
{
  "nodes": [
    {
      "parameters": {
        "content": "# 🤖 WhatsApp AI Agent — Restaurant Bot\n**بوت واتساب ذكي لمطعم بيت الأكل المصري**\n\n---\n\n## 📺 Tutorial Video\nhttps://youtu.be/gFt1yf1-ukU?si=ZFLewzqIddB9sO4T\n\n## 🔗 Webhook Setup Workflow\nImport the companion workflow:\n`meta-webhook-verifier.json`\n\n## 🌐 Professional Automation Services\nNeed custom automation for your business?\n👉 **https://yousefautomates.pages.dev/**\n\n---\n\n## 👨‍💻 Author\n**م. يوسف الشربيني**\n**Eng. Yousef Elsherbiny**\nAutomation & AI Specialist\n\n---\n\n## 📋 Workflow Overview\n```\nWhatsApp Trigger\n      ↓\n   IF Node (text message filter)\n      ↓\n   AI Agent (Groq LLM + Memory)\n      ↓\n   Send WhatsApp Reply\n```\n\n## ⚡ Tech Stack\n- **n8n** — Workflow automation\n- **Meta WhatsApp Business API** — Messaging\n- **Groq + LLaMA 3.3 70B** — AI responses\n- **Window Buffer Memory** — Conversation history",
        "height": 826,
        "width": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        -416
      ],
      "id": "c023044a-61e8-4ee3-afa6-ea855941ef19",
      "name": "Sticky Note - Project Overview"
    },
    {
      "parameters": {
        "content": "## ✅ Prerequisites & Setup Checklist\n\n**Before activating this workflow:**\n\n### 1️⃣ Meta WhatsApp Business API\n- [ ] Meta Developer account created\n- [ ] App created (Business type)\n- [ ] WhatsApp product added\n- [ ] Phone Number ID copied\n- [ ] Permanent Access Token generated\n\n### 2️⃣ Webhook Configuration\n- [ ] Run the companion workflow first:\n      `meta-webhook-verifier.json`\n- [ ] Webhook verified in Meta Dashboard\n\n### 3️⃣ n8n Credentials\n- [ ] `WhatsApp Trigger API` configured\n- [ ] `WhatsApp API` (send) configured\n- [ ] `Groq API` key added\n\n### 4️⃣ Customization\n- [ ] Update restaurant name/menu in AI Agent\n- [ ] Update Phone Number ID in Send node\n- [ ] Test with your registered number\n\n**📺 Full setup guide:**\nhttps://youtu.be/gFt1yf1-ukU?si=ZFLewzqIddB9sO4T",
        "height": 632,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        464
      ],
      "id": "6cca2b22-1eba-42d8-bf37-43f1d07a9bcc",
      "name": "Sticky Note - Prerequisites"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        304,
        80
      ],
      "id": "4bb0a19e-d209-4b13-bd73-3c773e1c5010",
      "name": "WhatsApp Trigger",
      "webhookId": "9a815cfd-73ed-42ca-b5dd-c44a8dd665bc",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "KJ8TymrNTU28EkYg",
          "name": "YTn8n"
        }
      },
      "notes": "📥 ENTRY POINT\nReceives all incoming WhatsApp messages via Meta Webhook.\n\n⚠️ Credential Setup Required:\n- Go to Credentials → WhatsApp Trigger API\n- Add your App ID (Client ID)\n- Add your App Secret (Client Secret)\n- Both found in: Meta App → Settings → Basic\n\n⚠️ Webhook must be verified first!\nUse the companion workflow: meta-webhook-verifier.json\n\nThis node listens for 'messages' events only.\nStatus updates (delivered/read) are handled by the IF filter."
    },
    {
      "parameters": {
        "content": "## 📥 WhatsApp Trigger\n\n**What it does:**\nListens for ALL incoming WhatsApp events including:\n- 📨 Incoming messages (text, image, audio, etc.)\n- ✅ Delivery status updates\n- 👁️ Read receipts\n\n**Why we need the IF node next:**\nMeta sends multiple events for every message:\n1. The actual message event\n2. 'Delivered' status event\n3. 'Read' status event\n\nWithout filtering, the AI would respond 3x to every message!\nThe IF node filters out non-text events.\n\n**Credential fields needed:**\n- Client ID = App ID (from Meta)\n- Client Secret = App Secret (from Meta)",
        "height": 620,
        "width": 366,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        304,
        -304
      ],
      "id": "b7e093df-e7f2-416b-a7f1-f2b91adfe55d",
      "name": "Sticky Note - Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ff9f58b4-5173-45bc-a3e0-f372e222402f",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        224
      ],
      "id": "d5faf5a9-c8b0-423a-a846-a7ef4ce5a2d8",
      "name": "Filter: Text Messages Only",
      "notes": "🔀 MESSAGE FILTER\nOnly allows TEXT messages to pass through to the AI.\n\nTRUE branch → AI Agent (text message exists)\nFALSE branch → Ignored (delivery/read receipts, media, etc.)\n\nThis prevents the AI from responding to:\n- Delivery confirmations\n- Read receipts\n- Images/videos/voice notes\n- Stickers\n\nTo handle media messages: add more conditions or\ncreate separate branches for each message type."
    },
    {
      "parameters": {
        "content": "## 🔀 Smart Message Filter\n\n**Checks:** Does `messages[0].text.body` exist?\n\n**TRUE ✅** → Text message → Send to AI\n**FALSE ❌** → Not a text → Stop here\n\n**Messages that get filtered OUT:**\n- ✅ Delivery receipts\n- 👁️ Read receipts  \n- 🖼️ Images\n- 🎵 Voice notes\n- 📹 Videos\n- 📎 Documents\n- 😄 Stickers\n\n**💡 Pro Tip:** You can extend this workflow to handle media messages by adding more IF branches!",
        "height": 552,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        -240
      ],
      "id": "f5361fcb-23ae-46a9-8217-e64c9d16b864",
      "name": "Sticky Note - Filter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "أنت مساعد ذكي لمطعم \"بيت الأكل المصري\". شخصيتك مرحة، مضيافة، وتستخدم لهجة مصرية بيضاء خفيفة ومفهومة.\n\n📋 معلومات المطعم:\nالاسم: بيت الأكل المصري.\nالموقع: القاهرة، حي المعادي.\nالمواعيد: من 12 ظهراً لحد 2 صباحاً.\n\nالمنيو:\n🍲 طاجن ملوخية بالفراخ — 120 جنيه\n🍚 طبق كشري عائلي — 80 جنيه\n🍮 أرز بلبن — 35 جنيه\n\n🛠 تعليمات الرد:\n• ابدأ بترحيب مصري لطيف (مثل: نورتنا، يا مرحب، أهلاً بيك)\n• جاوب على قد السؤال من المعلومات المتاحة فقط\n• استخدم الرموز التعبيرية (Emojis) بشكل بسيط لإضافة روح للمحادثة\n• لو العميل سأل عن أكلة مش في المنيو: \"للأسف دي مش موجودة النهارده، بس جرب الأصناف اللي عندنا هتعجبك جداً 😊\"\n• لا تخترع معلومات غير موجودة في المنيو"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        208
      ],
      "id": "a101df33-2c60-48ab-a7cf-eac8acd8b8d4",
      "name": "AI Agent — Restaurant Assistant",
      "notes": "🧠 AI BRAIN\nProcesses customer messages and generates intelligent responses.\n\nConfiguration:\n- User Message: The customer's WhatsApp text\n- System Message: Restaurant context, menu, behavior rules\n- LLM: Groq (LLaMA 3.3 70B) — Free & Fast\n- Memory: Window Buffer (per phone number session)\n\nTo customize for your business:\n1. Update the restaurant name and location\n2. Add/remove menu items with prices\n3. Modify the response style/language\n4. Add business hours, delivery info, etc.\n\nThe system prompt is written in Egyptian Arabic\nfor natural customer interaction."
    },
    {
      "parameters": {
        "content": "## 🧠 AI Agent Configuration\n\n**Model:** LLaMA 3.3 70B via Groq\n**Memory:** Per-customer session\n\n\n\n### ✏️ To customize:\nClick the AI Agent node → Edit System Message\nAdd your business info, menu, rules\n\n### 🆓 Getting Groq API Key:\n1. Go to console.groq.com\n2. Create free account\n3. Generate API Key\n4. Add to n8n Credentials\n\n**📺 Watch the tutorial:**\nhttps://youtu.be/gFt1yf1-ukU",
        "height": 580,
        "width": 380,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1056,
        -240
      ],
      "id": "3544a89c-05c0-4541-b1d9-a125d49c9c29",
      "name": "Sticky Note - AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1088,
        544
      ],
      "id": "dde3cd18-a6b5-469f-8e2d-efe9a1050697",
      "name": "Groq — LLaMA 3.3 70B",
      "credentials": {
        "groqApi": {
          "id": "EfEFg3nBS7KYwFec",
          "name": "groq 1"
        }
      },
      "notes": "⚡ LLM ENGINE\nUsing Groq's free API with LLaMA 3.3 70B model.\n\nWhy Groq?\n- 100% FREE to use\n- Extremely fast inference\n- LLaMA 3.3 70B is highly capable\n- Supports Arabic language well\n\nTo get your free API key:\n1. Visit: console.groq.com\n2. Sign up for free\n3. Create an API key\n4. Add it to n8n Credentials → Groq API\n\nAlternative models you can use:\n- llama-3.1-8b-instant (faster, lighter)\n- mixtral-8x7b-32768 (good for Arabic)\n- gemma2-9b-it"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1344,
        592
      ],
      "id": "c372f464-be34-4a40-9e81-2df0dda852c3",
      "name": "Conversation Memory (per customer)",
      "notes": "💾 CONVERSATION MEMORY\nMaintains separate conversation history for each customer.\n\nSession Key: Customer's phone number\nThis means:\n- Each customer has their own memory\n- The AI remembers what was said earlier in the conversation\n- Memory resets when n8n restarts\n\nFor persistent memory across restarts:\n→ Replace with Redis Memory node\n→ Or use Postgres Chat Memory node\n\nDefault window size: Last 5 exchanges\nIncrease for longer context, but uses more tokens."
    },
    {
      "parameters": {
        "content": "## ⚡ AI Sub-nodes\n\nThese nodes are **connected to the AI Agent** as tools:\n\n### 🔮 Groq LLM\n- Powers the AI responses\n- Free API, ultra-fast\n- Model: LLaMA 3.3 70B\n- Get key at: console.groq.com\n\n### 💾 Window Memory\n- Remembers conversation history\n- Separate memory per customer\n- Session ID = customer phone number\n- Default: last 5 message pairs\n\n**💡 These connect to the AI Agent**\n**via the sub-node connection points**\n**(bottom of the AI Agent node)**",
        "height": 456,
        "width": 396,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        448
      ],
      "id": "7932f179-f13c-4731-9062-0b88d31043e3",
      "name": "Sticky Note - Sub Nodes"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1067223703142099",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1680,
        240
      ],
      "id": "9620830a-a135-4253-8188-989cd932811d",
      "name": "Send WhatsApp Reply",
      "webhookId": "47181a63-19fa-4ae3-b7e9-dbde667645b5",
      "credentials": {
        "whatsAppApi": {
          "id": "rVbwiKiSZj4YwYoy",
          "name": "YTn8n"
        }
      },
      "notes": "📤 SEND REPLY\nSends the AI-generated response back to the customer.\n\n⚠️ IMPORTANT - Update these fields:\n1. Phone Number ID: Replace with YOUR Phone Number ID\n   → Found in Meta: WhatsApp → Getting Started\n   → Or: WhatsApp → Phone Numbers\n\n2. Credential: Set up WhatsApp API credential\n   → Needs: Permanent Access Token (System User Token)\n   → Needs: Business Account ID (WABA ID)\n\n3. Recipient: Auto-filled from trigger (sender's number)\n   → No changes needed here\n\n4. Message Body: Auto-filled from AI Agent output\n   → No changes needed here\n\nUsing TEMPORARY token? It expires every 24h!\nCreate a PERMANENT System User Token instead.\n📺 Watch: https://youtu.be/gFt1yf1-ukU"
    },
    {
      "parameters": {
        "content": "## 📤 Send Reply Configuration\n\n\n\n### WhatsApp API Credential\nNeeds a PERMANENT Access Token:\n1. Meta Business Suite → Settings\n2. Users → System Users → Add\n3. Assign WhatsApp permissions\n4. Generate Token → Never Expires\n5. Add to n8n Credentials\n\n**⏰ Temporary token expires very fast !**\n**Use System User Token for production.**\n\n🌐 Need help setting up?\nhttps://yousefautomates.pages.dev/",
        "height": 588,
        "width": 398,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1536,
        -240
      ],
      "id": "00b7751b-f7d7-4e04-a076-10dbcb8a03d6",
      "name": "Sticky Note - Send Node"
    },
    {
      "parameters": {
        "content": "## 🚀 Need Professional Automation Services?\n\n**م. يوسف الشربيني** provides expert automation solutions:\n\n✅ WhatsApp AI Bots\n✅ n8n Workflow Automation\n✅ AI Agents & Chatbots\n✅ CRM Integration\n✅ Business Process Automation\n✅ API Integration\n✅ Training & Consulting\n\n---\n\n**📺 Tutorial Video:**\nhttps://youtu.be/gFt1yf1-ukU?si=ZFLewzqIddB9sO4T\n\n**🌐 Contact & Portfolio:**\nhttps://yousefautomates.pages.dev/\n\n**👨‍💻 Eng. Yousef Elsherbiny**\nAutomation & AI Specialist\n\n---\n*Transform your business with intelligent automation!*",
        "height": 460,
        "width": 366,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1984,
        160
      ],
      "id": "25829c69-8d84-4dba-913d-3df7e1eee34f",
      "name": "Sticky Note - Services"
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Filter: Text Messages Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Text Messages Only": {
      "main": [
        [
          {
            "node": "AI Agent — Restaurant Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent — Restaurant Assistant": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq — LLaMA 3.3 70B": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent — Restaurant Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory (per customer)": {
      "ai_memory": [
        [
          {
            "node": "AI Agent — Restaurant Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "adda0f2c4cf4d06a05c5e2d10300b5b68d068fad68b90a27d9cd2b87a43c0fa4"
  }
}
